.main_container {
  height: 900px;
  width: 100vw;
  border: 1px solid black;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .mainbox {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: #e3e8fa;
  }
  
  .mainbg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../assets/mainc0.png');
  }
  .textbox {
    display: flex;
    flex-direction: column;
  } 
  .imgcon {
    min-width: 275px;
    min-height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .textcon {
    padding: 0 15vw;
  }

  .hcon {
    width: 75%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .bttextcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .scon {
    width: 75%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 480px) {
  .mainbox {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #e3e8fa;
  }
  
  .mainbg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../assets/mainc2.png');
  }
  
  .textbox {
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    transform: translateY(-10%);
  }
  .boxc1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .imgcon {
    width: 33%;
    height: 42.5vh;
    min-width: 275px;
    min-height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .hcon {
    width: 75%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10vw;
  }
  .bttextcon {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  .scon {
    width: 75%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10vw;
  }
  .textcon {
    /* transform: translateY(-10%); */
  }
}



.box1 {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../assets/backc2_1.png');
}

.box2 {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../assets/backc2_2.png');
}

.box3 {
  height: 100%;
  width: 100%;
  background-color: #77a9e4;
}



.bgimg1 {
  background-image: url('../assets/img1.png');
}

.bgimg2 {
  background-image: url('../assets/img2.png');
}

.bgimg3 {
  background-image: url('../assets/img3.png');
}

.mh1 {
  font-style: normal;
  font-weight: bold;
  font-size: 3em;
  color: #3D8AE5;
  padding-top:0.5em;
  padding-bottom:1em;
}
.mh5 {
  font-style: normal;
  font-weight: 500;
  font-size: 1.25em;
  color: #fff;
  letter-spacing: 0.055em;
}
.mh3 {
  font-style: normal;
  font-weight: bold;
  font-size: 2em;
  line-height: 35px;
  letter-spacing: -0.015em;
  color: #3D8AE5;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}
.mh6 {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.025em;
  padding-bottom: 14px;
}
.downbox {
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  color: #fff;
  text-shadow: 0px 0px 0.25rem rgba(0,0,0,0.1);
  position: absolute;
  bottom: 5%;
  left: 10%;
  /* transform: translateX(-50%); */
}
.ch1{
  font-style: normal;
  font-weight: bold;
  font-size: 2em;
  letter-spacing: -0.0025em;
  color: #fff;
  padding-top:0.5em;
  padding-bottom:0.5em;
  text-align: center;
}
.ch3{
  font-style: normal;
  font-weight: 500;
  font-size: 1.5em;
  letter-spacing: -0.045em;
  color: #fff;
  text-align: center;
}
.box4 {
  height: 100%;
}

.acon {
  width: 10em;
  height: 10em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../assets/appicon.png');
}
.hline {
  width: 75%;
  border: 1px solid #c3c3c3;
}
